/* Custom Font */
@font-face {
    font-family: 'Press Gothic Regular';
    src: url('../fonts/PressGothic/Press Gothic Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.TLFont {
    font-family: 'Press Gothic Regular', sans-serif;
}
/*KeyFrames*/
@keyframes imageBrighten {
    0% {
        filter: brightness(1) drop-shadow(0 0 0 rgba(0,0,0,0));
    }
    100% {
        filter: brightness(2) drop-shadow(0 0 10px rgba(255,255,255, 0.7));
    }
}
@keyframes textBrighten {
    0% {
        text-shadow: none;
        color: #ccc;
    }
    100% {
        text-shadow: 0 0 1vw rgba(255, 255, 255, 0.9);
        color: #fff;
    }
}
@keyframes textBrightenR {
    0% {
        text-shadow: none;
        color: #ccc;
    }
    100% {
        text-shadow: 0 0 1vw rgba(255, 0, 0, 0.9);
        color: #ff0000;
    }
}
@keyframes animateLifeBar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    color: white;
}

.background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    background-image: url('../../images/seattle.png'); 
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    filter: 
    blur(1.2px)
    contrast(1.1);
}
.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}
.background-containerUA{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    background-image: url('../images/seattlerain.gif'); 
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
}
.boat-rain-background{ 
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.boat-rain-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: 
        blur(2.5px)
        brightness(0.8)
        contrast(1)            
        hue-rotate(400deg)     
        saturate(4);         
}

.login-container {
    background-color: rgba(0, 0, 0, 0.6); 
    backdrop-filter: blur(3px); 
    color: white;
    padding: 50px;
    /*border-radius: 10px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
    width: 300px; 
    text-align: center; 
    z-index: 1; 
}
/* Style Form Elements */
.login-form input[type="email"],
.login-form input[type="password"] {
    background-color: transparent;
    width: 100%;
    padding: 10px 10px 10px 60px; 
    margin: 10px 0;
    border: none;
    border-radius: 5px; 
    box-sizing: border-box; 
    color: white;
    outline: none; 
    background-repeat: no-repeat;
    background-position: 10px center;
}
.login-form input[type="email"] {
    background-image: url('../images/Email.png'); 
    background-size: 45px 45px;
}
.login-form input[type="password"]{
    background-image: url('../images/FirefliesW.png');
    background-size: 30px 30px;
}
.login-form input::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    transition: color 0.3s ease-in-out;
}
.login-form input:focus::placeholder{
    color: rgba(255, 255, 255, 0);
}
/* Style the login button */
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: transparent; 
    color: white; 
    border: none; 
    /*border-radius: 5px;  Rounded corners */
    cursor: pointer; 
}

/* Style the labels and headings */
.login-form label,
.login-form h2 {
    font-size: 30px; 
    color:white; 
    font-family: 'Press Gothic Regular', sans-serif;
}
/*Container for the buttons*/
.button-container {
    display: flex;
    margin-left: auto;
    padding-top: 20px;
    gap: 10px; 
}
.button-containerUA{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10px; 
    flex-wrap: wrap; 
}
/* Buttons */
.Button-PS {
    display: flex; 
    align-items: center; 
    margin-left: 10px; 
    padding: 8px 12px;
    font-size: 16px;
    background-color: transparent; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.PS-Button-Image {
    height: 30px;
    width: 30px;
    display: block;
    margin-right: 8px; 
    transition: filter 0.3s ease, box-shadow 0.3s ease;
}

.PS-Button-Image:hover {
    animation: imageBrighten 0.3s forwards;
}

.Button-PS span {
    color: white;
    font-size: 20px;
    font-family: 'Press Gothic Regular', sans-serif;
}
/*Cart Design*/
.cart-title {
    animation: imageBrighten 0.3s forwards;
}
/* Container style for the cart page */
.cart-container {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 2vw;
}

/* Style for the cart table */
.cart-table {
    width: 90vw;
    border-collapse: collapse; 
    margin-top: 2vw;
    background-color: rgba(136,110,87, 0.12); 
    /*border-radius: 1vw; */
    overflow: hidden; 
}

/* Style for table headers */
.cart-table th {
    padding: 1vw; 
    text-align: left; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-bottom: 0.2vw solid rgba(255, 255, 255, 0.1); 
    font-family: 'Press Gothic Regular', sans-serif;
}

/* Style for table cells */
.cart-table td {
    padding: 1vw; 
    text-align: left; 
    color: white; 
    border-bottom: 0.1vw solid rgba(255, 255, 255, 0.1); 
}
.remove-from-cart {
    /*margin-left: 1vw;*/
    padding: 0.8vw 1.2vw;
    font-size: 1.6vw;
    background-color: transparent;
    color: white; 
    /*border: 0.1vw solid white; White border */
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.remove-from-cart .TLFont {
    color: white;
}
.remove-from-cart:hover {
    animation: textBrightenR 0.3s forwards;
}

/* Styling for the entire empty cart message */
/*
.empty-cart-message {
    font-size: 20vw;
    font-family: 'Press Gothic Regular', sans-serif;
    position: absolute;
    bottom: 4vh; 
    right: 6vw; 
    text-align: right; 
    margin: 0; 
}

/* Styling for the word "EMPTY" */
.empty-cart-message .empty-text {
    color: white; 
}

/* Styling for the word "CART" */
.empty-cart-message .cart-text {
    color: grey; 
}
*/

/*log output*/
.user-info {
    position: relative; 
    /*top: 20px;*/
    right: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.profile-container {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333; 
}
/* Styling for the user details text */
.user-details {
    color: white;
    font-family: 'Press Gothic Regular', sans-serif;
}

.user-details p {
    margin: 0;
    font-size: 14px;
}
/* Profile Image */
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}
/* Life Bar */
.life-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 200%;
    border: 3px solid transparent;
    border-top-color: #fff; 
    border-right-color: #fff;
    border-bottom-color: #fff;
    animation: animateLifeBar 5s linear infinite; 
}
/* Styling for the user details text */
.user-details {
    color: white;
    font-family: 'Press Gothic Regular', sans-serif;
}

.user-details p {
    margin: 0;
    font-size: 14px;
}
/*Classified Page*/
.TL-Header {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    filter: blur(0.8px);
    transition: color 0.3s ease, text-shadow 0.3 ease;
}
.HS_HEADERS:hover{
    animation: textBrighten 0.3s forwards;
}
.header-content {
    position: absolute;
    top: 50%; 
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    margin-left: 20px;
}
/* Video Background */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: blur(0.5px);
}
/*Location, Vision and Mission Styling*/
/*Location*/
.container {
    background-color: black;
    min-height: 120vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}

/* Table Styles */
.topics-table {
    width: 80%;
    border-collapse: collapse;
    margin: inherit; 
    font-size: 1em;
    text-align: left;
    position: relative; /* Important for pseudo-element positioning */
}

.topics-table::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(20px); /* Increased blur amount */
    z-index: -1; /* Place the blur behind the table content */
}

.topics-table th, .topics-table td {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1); /* More translucent background */
    position: relative; /* Ensures the content is above the blur */
}

.topics-table th {
    background-color: rgba(51, 51, 51, 0.3); /* More translucent background */
    color: white;
}

.topics-table tr:nth-child(even) {
    background-color: rgba(68, 68, 68, 0.3); /* More translucent background */
}

.topics-table tr:nth-child(odd) {
    background-color: rgba(85, 85, 85, 0.3); /* More translucent background */
}
/*Anchor inherit (keep it mind)*/
a{
    text-decoration: none;
    color:inherit
}
/*Vision*/

@media screen and (max-width: 320px) {
    .login-container {
        width: 90%; 
        padding: 10px; 
        margin: 0 auto;
    }

    .button-container {
        justify-content: center; 
        gap: 10px; 
    }
}