/*KeyFrame*/
@keyframes imageBrighten {
    0% {
        filter: brightness(1) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    }
    100% {
        filter: brightness(2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    }
}

/* Custom Font */
@font-face {
    font-family: 'Press Gothic Regular';
    src: url('../fonts/PressGothic/Press Gothic Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Thin';
    src: url('../fonts/Inter/Inter_24pt-Thin.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Light';
    src: url(../fonts/Inter/Inter_24pt-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.TLFont {
    font-family: 'Press Gothic Regular', sans-serif;
}
.Inter-Thin {
    font-family: 'Inter-Thin', sans-serif;
}
.Inter-Light{
     font-family: 'Inter-Light' sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.flags-images {
    width: 10vw;
    height: auto;
    display: block;
    margin-right: 8px;
    border-radius: 10px;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
}
.container {
    max-width: 100%;
    min-height: 120vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    overflow-x: hidden;
}
.background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    background-image: url('../images/jackson_lights.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;
    filter: 
    blur(1.2px)
    contrast(1.1);
}
.background-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
}
.item-image {
    width: 50px;
    height: auto;
    max-width: 100%;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
    filter: none;
    display: block;
}

.item-image:hover {
    transform: scale(1.5);
    animation: imageBrighten 0.2s forwards;
}
/* Table Styles */
.items-table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1em;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    /*border-radius: 10px*/
    font-family: 'Inter-Light', sans-serif;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.items-table thead{
    font-size: 1.2rem;
}

.items-table th, .items-table td {
    border: 1px solid #ddd;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    position: relative;
    z-index: 2; 
}

.items-table th {
    background-color: rgba(51, 51, 51, 0.3); 
}

.items-table tr:nth-child(even) {
    background-color: rgba(68, 68, 68, 0.3); 
}

.items-table tr:nth-child(odd) {
    background-color: rgba(85, 85, 85, 0.3); 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .flags-images {
        width: 15vw; 
    }

    .container {
        padding: 10px; 
    }

    .item-image {
        width: 80px; 
    }

    .items-table {
        width: 90%; 
        font-size: 0.9em; 
    }

    .items-table th, .items-table td {
        padding: 8px; 
    }
}

@media (max-width: 480px) {
    .flags-images {
        width: 20vw; 
    }

    .container {
        padding: 5px; 
    }

    .item-image {
        width: 60px;
    }

    .items-table {
        min-width: 600px;
        font-size: 0.8em; 
    }

    .items-table th, .items-table td {
        padding: 6px; 
    }
    .table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        display: block;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .flags-images {
        width: 30vw; 
    }

    .container {
        padding: 5px; 
    }

    .item-image {
        width: 50px; 
    }

    .items-table {
        width: 90%; 
        font-size: 0.7em; 
    }

    .items-table th, .items-table td {
        padding: 4px; 
        font-size: 0.7em; 
    }
}
.button-container-Products{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px; 
    flex-wrap: wrap; 
}
/* Buttons */
.Button-PS {
    display: flex; 
    align-items: center; 
    margin-left: 10px; 
    padding: 8px 12px;
    font-size: 16px;
    background-color: transparent; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.PS-Button-Image {
    height: 30px;
    width: 30px;
    display: block;
    margin-right: 8px;
    filter: none;
    mix-blend-mode: normal; 
    transition: filter 0.3s ease, box-shadow 0.3s ease;
}

.PS-Button-Image:hover {
    animation: imageBrighten 0.3s forwards;
}

.Button-PS span {
    color: white;
    font-size: 20px;
    font-family: 'Press Gothic Regular', sans-serif;
}

/*Page Header*/
.page-header{
    min-height: 30vh;
    width: 100vw;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}