<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Supplements</title>
  <link rel="stylesheet" href="../../css/style_products.css" />
</head>
<body>
  <div class="background-container"></div>
  <div class="container">

  <div class="page-header">
    <h1 class="TLFont">SUPPLEMENTS</h1>
    <img src="../../images/pill.png" alt="Banner-img" class="flags-images" />
  </div>

  <div class="table-wrapper">
    <table class="items-table">
      <thead>
        <tr>
          <th>ITEM TAG</th>
          <th>NAME</th>
          <th>ORIGIN</th>
          <th>DESCRIPTION</th>
          <th>CATEGORY</th>
          <th>IMAGE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#S1A</td>
          <td>Supplement type A</td>
          <td>Seattle</td>
          <td>Supplement for the body</td>
          <td>Supplement</td>
          <td><img src="../../images/pill.png" alt="Supplement" class="item-image" /></td>
        </tr>
        <tr>
          <td>#S1B</td>
          <td>Supplement type B</td>
          <td>Seattle</td>
          <td>Supplement for body pressure</td>
          <td>Supplement</td>
          <td><img src="../../images/pill.png" alt="Supplement" class="item-image" /></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>

    <div class="button-container-Products">               
      <button type="button" class="Button-PS" onclick="window.history.back();">
        <img src="../../images/OButtonPS.png" alt="PS-BUTTON" class="PS-Button-Image" />
          <span>BACK</span>
      </button>
    </div>
  </div>
</body>
</html>

