<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='cart-container'>
    <div class='user-info'>
    <div class='profile-container'>
    <img src='../../images/profiles/ellie.gif' alt='User Profile' class='profile-image'>";
    <div class='life-bar'></div>
    </div>
    <div class='user-details'>
    <p class='user-name'>SURVIVOR: Ellie Williams</p>
    <p class='user-email'>BROADCAST: building@floodedcity.com</p>
    </div>
    </div>

    <p class="empty-cart-message">
        <span class="empty-text">EMPTY</span> <span class="cart-text">CART</span>...
    </p>

    <h2 class='cart-title TLFont'>SURVIVAL KIT</h2>
    <table class='cart-table'>
    <tr class='cart-header'><th>Product Name</th><th>Quantity</th><th>Price</th><th>Total</th><th>Actions</th></tr>
            <tr class='cart-item'>
            <td class='product-name'>Rags</td>
            <td class='product-quantity'>5</td>
            <td class='product-price'>2€</td>
            <td class='product-total'>2€</td>
            <td class='product-actions'><button class='remove-from-cart' data-product-id='{$productID}'>LEAVE BEHIND</button></td>
            </tr>
        <tr class='cart-total-row'><td colspan='3' class='total-label'>Total</td><td colspan='2' class='total-amount'>2€</td></tr>
        </table>

        <div class="button-container-cart">
            <button class="Button-PS" onclick="showEmptyCart()">
                <img src="../../images/ui/buttons/btn-triangle.png" alt="btn-triangle" class="PS-Button-Image">
                <span>RESET TO DEFAULT</span>
            </button>
            <button class="Button-PS" onclick="showCartwithItems()">
                <img src="../../images/ui/buttons/btn-x.png" alt="btn-x" class="PS-Button-Image">
                <span>TRADE FOR GODS</span>
            </button>
            <button class="Button-PS" onclick="window.history.back()">
                <img src="../../images/ui/buttons/btn-circle.png" alt="btn-circle" class="PS-Button-Image">
                <span>BACK</span>
            </button>
        </div>

    <script>
        function showEmptyCart(){
            document.querySelector('.empty-cart-message').style.display = 'block';
            document.querySelector('.cart-table').style.display = 'none';
            document.querySelector('.cart-title').style.display = 'none';
        }

        function showCartwithItems(){
            console.log('Showing cart!');
            document.querySelector('.empty-cart-message').style.display = 'none';
            document.querySelector('.cart-table').style.display = 'table';
            document.querySelector('.cart-title').style.display = 'block';
        }
    </script>

</body>
</html>