<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class='cart-container'>
    <div class='user-info'>
    <div class='profile-container'>
    <img src='../../images/ellie.gif' alt='User Profile' class='profile-image'>";
    <div class='life-bar'></div>
    </div>
    <div class='user-details'>
    <p class='user-name'>SURVIVOR: <strong>{$userName}</strong></p>
    <p class='user-email'>BROADCAST: {$userEmail}</p>
    </div>
    </div>

    <p class="empty-cart-message"><span class="empty-text">EMPTY</span> <span class="cart-text">CART</span>...</p>
    <h2 class='cart-title TLFont'>SURVIVAL KIT</h2>
    <table class='cart-table'>
    <tr class='cart-header'><th>Product Name</th><th>Quantity</th><th>Price</th><th>Total</th><th>Actions</th></tr>
            <tr class='cart-item'>
            <td class='product-name'>{$item['product_name']}</td>
            <td class='product-quantity'>{$item['quantity']}</td>
            <td class='product-price'>€{$item['price']}</td>
            <td class='product-total'>€{$lineTotal}</td>
            <td class='product-actions'><button class='remove-from-cart' data-product-id='{$productID}'>LEAVE BEHIND</button></td>
            </tr>";
        <tr class='cart-total-row'><td colspan='3' class='total-label'>Total</td><td colspan='2' class='total-amount'>€{$total}</td></tr>";
        </table>

        <div class="button-container">
            <button class="Button-PS" onclick="window.history.back()">
                <img src="../../images/triangle-ps.png" alt="PS-Button" class="PS-Button-Image">
                <span>REST TO DEFAULT</span>
            </button>
            <button class="Button-PS" onclick="window.location.href=checkout.html">
                <img src="../../images/XButtonPS.png" alt="PS-Button" class="PS-Button-Image">
                <span>TRADE FOR GODS</span>
            </button>
            <button class="Button-PS" onclick="window.history.back()">
                <img src="../../images/OButtonPS.png" alt="PS-BUTTON" class="PS-Button-Image">
                <span>BACK</span>
            </button>
        </div>
</body>
</html>