<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidden Files</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header class="TL-Header">
        <div class="video-background">
            <video autoplay muted loop>
                <source src="../../images/boat_on_the_shore.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="header-content">
            <a href="../components/HSmission.html"><h1 class="TLFont HS_HEADERS HSM">MISSION</h1></a>
            <a href="../components/HSvision.html"><h1 class="TLFont HS_HEADERS HSV">VISION</h1></a>
            <a href="../components/HSlocation.html"><h1 class="TLFont HS_HEADERS HSL">LOCATION</h1></a>
            <h1 class="TLFont HS_HEADERS HSEXIT" onclick="window.history.back();">I KNOW TOO MUCH, TAKE ME OUT!</h1>
        </div>
    </header>
</body>
</html>