<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="TLFont">LOCATION</h1>
        <table class="topics-table">
            <thead>
                <tr>
                    <th>Aspect</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Location : Hidden Ruins</td>
                    <td> Calle Conde Negro, 1, Seville Spain partnership in Hwaseong-si Gyeonggi-do-100-1700 South Korea  </td>
                </tr>
                <tr>
                    <td>Conformite Europeene</td>
                    <td>CE. EU health, safety, and environmental protection standards</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <button class="Button-PS" onclick="window.history.back()">
             <img src="../../images/OButtonPS.png" alt="PS-BUTTON" class="PS-Button-Image" />
             <span>BACK</span>
        </button>
    </div>
</body>
</html>
