<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="TLFont">MISSION</h1>
        <table class="topics-table">
            <thead>
                <tr>
                    <th>Aspect</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Mission: Scavenge for Supplies</td>
                    <td>There are rumors about hidden supply store somewhere in the old town. It's supposed to be stocked with international food and items specifically from Korea and Spain providing the best quality
                        in the world. In the old world they used to offer an amazing experience.</td>
                </tr>
                <tr>
                    <td>Core Values</td>
                    <td>Excellence and Innovation.</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <button class="Button-PS">
             <img src="../../images/OButtonPS.png" alt="PS-BUTTON" class="PS-Button-Image" />
             <span>BACK</span>
        </button>
    </div>
</body>
</html>
