<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="TLFont">VISION</h1>
        <table class="topics-table">
            <thead>
                <tr>
                    <th>Aspect</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vision : The supply Store : A Beacon of Hope</td>
                    <td>In a world gone to hell, the supply store is a rare beacon of hope. Where survivors can find the resources they need to keep fighting. We 
                        need to be careful thought the store's is a hot target for other survivors who also want to get exclusive products from these two countries.
                    </td>
                </tr>
                <tr>
                    <td>Important Tags</td>
                    <td>Korea, Europe, International Commerce.</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <button class="Button-PS" onclick="window.history.back()">
             <img src="../../images/ui/buttons/btn-circle.png" alt="btn-circle" class="PS-Button-Image" />
             <span>BACK</span>
        </button>
    </div>
</body>
</html>
