<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Throwable Objects</title>
  <link rel="stylesheet" href="../../css/style_products.css" />
</head>
<body>
  <div class="background-container"></div>
  <div class="container">

  <div class="page-header">
    <h1 class="TLFont">THROWABLE OBJECTS</h1>
    <img src="../../images/products/t-objects/cocktail-molotov.png" alt="Banner-img" class="flags-images" />
  </div>

  <div class="table-wrapper">
    <table class="items-table">
      <thead>
        <tr>
          <th>ITEM TAG</th>
          <th>NAME</th>
          <th>ORIGIN</th>
          <th>DESCRIPTION</th>
          <th>CATEGORY</th>
          <th>IMAGE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#T1A</td>
          <td>Cocktail Molotov</td>
          <td>Seattle</td>
          <td> When the wick is lit and the Molotov is broken, it ignites and bathes the area in flames.</td>
          <td>t-objects</td>
          <td><img src="../../images/products/t-objects/cocktail-molotov.png" alt="t-objects" class="item-image" /></td>
        </tr>
        <tr>
          <td>#T2A</td>
          <td>Nail Bomb</td>
          <td>Seattle</td>
          <td>A nail bomb can be thrown at enemies to blow them up, or placed as a mine that triggers when crossed.</td>
          <td>t-objects</td>
          <td><img src="../../images/products/t-objects/nail-bomb.png" alt="t-objects" class="item-image" /></td>
        </tr>
        <tr>
          <td>#T3A</td>
          <td>Smoke Bomb</td>
          <td>Seattle</td>
          <td>A smoke bomb can be thrown to act as cover as it creates a cloud of smoke or used to stun enemies</td>
          <td>t-objects</td>
          <td><img src="../../images/products/t-objects/smoke-bomb.png" alt="t-objects" class="item-image" /></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  
    <div class="button-container-Products">               
      <button type="button" class="Button-PS" onclick="window.history.back();">
        <img src="../../images/ui/buttons/btn-circle.png" alt="btn-circle" class="PS-Button-Image" />
          <span>BACK</span>
      </button>
    </div>
  </div>
</body>
</html>
