<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="boat-rain-background">
        <video autoplay muted loop>
        <source src="../../images/seattleday3tfc.mp4" type="video/mp4">
        </video>
    </div>
    <div class="action-container">
        <form method="POST" action="userActions.php" class="action-form">
            <div class="button-containerUA">
                <button type="submit" name="logout" class="Button-PS">
                    <img src="../../images/ui/buttons/btn-x.png" alt="btn-x" class="PS-Button-Image" />
                    <span>LOGOUT</span>
                </button>
                <button type="submit" name="userConfig" class="Button-PS">
                    <img src="../../images/ui/buttons/btn-square.png" alt="btn-square" class="PS-Button-Image" />
                    <span>SETTINGS</span>
                </button>
                <button type="button" class="Button-PS" onclick="window.history.back();">
                <img src="../../images/ui/buttons/btn-circle.png" alt="btn-circle" class="PS-Button-Image" />
                <span>BACK</span>
                </button>
            </div>
        </form>
    </div>
</body>
</html>
