<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Weapons</title>
  <link rel="stylesheet" href="../../css/style_products.css" />
</head>
<body>
  <div class="background-container"></div>
  <div class="container">

  <div class="page-header">
    <h1 class="TLFont">WEAPONS</h1>
    <img src="../../images/products/weapons/ak.png" alt="Banner-img" class="flags-images" />
  </div>

  <div class="table-wrapper">
    <table class="items-table">
      <thead>
        <tr>
          <th>ITEM TAG</th>
          <th>NAME</th>
          <th>ORIGIN</th>
          <th>DESCRIPTION</th>
          <th>CATEGORY</th>
          <th>IMAGE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#W1A</td>
          <td>Semi auto Pistol</td>
          <td>Seattle</td>
          <td>Reliable and fast. Ideal for quick takedowns at medium range. Moderate damage, low recoil.</td>
          <td>Weapons</td>
          <td><img src="../../images/products/weapons/semi-auto-pistol.png" alt="Weapons" class="item-image" /></td>
        </tr>
        <tr>
          <td>#W2A</td>
          <td>Bolt action rifle</td>
          <td>Seattle</td>
          <td>High power, long range. Slow to reload but devastating with precision. Best used from cover.</td>
          <td>Weapons</td>
          <td><img src="../../images/products/weapons/bolt-action-rifle.png" alt="Weapons" class="item-image" /></td>
        </tr>
        <tr>
          <td>#W3A</td>
          <td>Revolver</td>
          <td>Seattle</td>
          <td>Heavy-hitting sidearm with high stopping power. Slow reload, but it packs a punch.</td>
          <td>Weapons</td>
          <td><img src="../../images/products/weapons/revolver.png" alt="Weapons" class="item-image" /></td>
        </tr>
        <tr>
          <td>#W4A</td>
          <td>Pump shotgun</td>
          <td>Seattle</td>
          <td>Brutal close-range damage. Wide spread, fast cycling. Clears rooms.</td>
          <td>Weapons</td>
          <td><img src="../../images/products/weapons/pump-shotgun.png" alt="Weapons" class="item-image" /></td>
        </tr>
        <tr>
          <td>#W5A</td>
          <td>Silenced Submachine Gun</td>
          <td>Seattle</td>
          <td>Compact. Fast-firing. Suppressed. Perfect for stealth takedowns or crowd control in tight spaces.</td>
          <td>Weapons</td>
          <td><img src="../../images/products/weapons/silenced-submachine-gun.png" alt="Weapons" class="item-image" /></td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  
    <div class="button-container-Products">               
      <button type="button" class="Button-PS" onclick="window.history.back();">
        <img src="../../images/ui/buttons/btn-circle.png" alt="btn-circle" class="PS-Button-Image" />
          <span>BACK</span>
      </button>
    </div>
  </div>
</body>
</html>

